@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Empty";
}
<div>
    <div>
        <div class="d-none d-lg-flex shadow bg-white">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-underline bg-white">
                        <li class="nav-item ">
                            <a class="nav-link " asp-action="AdminDashboard" asp-controller="admin">Dashboard </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Provider Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Profile" asp-controller="Admin">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Providers" asp-controller="Admin">Providers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Partners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info active" asp-action="ManageAccess" asp-controller="Admin">Access</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Records</a>
                        </li>

                    </ul>

                </div>
            </nav>

        </div>

        <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasSidebarLabel"><img style="width:70px;" class="largeLogo align-content-center" src="~/images/logo.png" alt="Logo" /></h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body aside-cont">
                <ul class="list-group">
                    <li class="list-group-item ">
                        <a class="nav-link fs-5 fw-semibo text-dark ps-4" id="Dashboard-Page" asp-action="AdminDashboard" asp-controller="Admin">Dashboard</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="nav-link fs-5 text-dark ps-4" id="Location-Page" asp-action="Location" asp-controller="Admin">Provider Location</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="nav-link fs-5 text-dark ps-4" id="Profile-Page" asp-action="Profile" asp-controller="Admin">My Profile</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="nav-link fs-5 text-dark ps-4" id="Provider-Page" asp-action="Providers" asp-controller="Admin">Providers</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="nav-link fs-5 text-dark ps-4" id="Partner-Page" asp-action="Partners" asp-controller="Admin">Partners</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="nav-link fs-5 text-dark ps-4" id="ManageAccess-Page" asp-action="ManageAccess" asp-controller="Admin">Access</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="nav-link fs-5 text-dark ps-4" id="Records-Page" asp-action="Records" asp-controller="Admin">Records</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <div class="container">

            <div class="d-inline-flex justify-content-between w-100">

                <p class="m-2">Account Access</p>
                <div class="ml-auto">


                    <button class="  back-btn btn-outline-info back mt-2 rounded p-2 "
                            onclick="back()">
                        &lt Back
                    </button>
                </div>
            </div>
            <br />


            <div class="bg-white rounded shadow p-4">
            
                <h3>Details</h3>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
