@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Empty";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

<div style="height: 100%" class="bg-light" >
    <div class="">
        <ul class="nav nav-underline">

            <li class="nav-item m-2">
                <a class="nav-link text-info " href="#">Dashboard</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link text-dark" href="#">Provider Location</a>

            </li>
            <li class="nav-item m-2">
                <a class="nav-link text-dark" href="#">My Profile</a>

            </li>
            <li class="nav-item m-2">
                <a class="nav-link text-dark" href="#">Providers</a>

            </li>
            <li class="nav-item m-2">
                <a class="nav-link text-dark" href="#">Partners</a>

            </li>
            <li class="nav-item m-2">
                <a class="nav-link text-dark" href="#">Access</a>

            </li>
            <li class="nav-item m-2 ">
                <a class="nav-link text-dark" href="#">Records</a>

            </li>

        </ul>
    </div>

    <div class="d-flex justify-content-center">
        <div class="container">

            <div class="d-inline-flex justify-content-between w-100">

                <h2 class="m-2">Send Order</h2>
                <div class="ml-auto">


                    <button class="  back-btn btn-outline-info back mt-2 rounded p-2 "
                            onclick="back()">
                        &lt Back
                    </button>
                </div>
            </div>
            <br />
            <div class="bg-white rounded shadow">
                <div class="row mt-2 p-3">
                    <div class="col-md-6">
                        <select style="height:55px;" class="form-select " aria-label="Default select example">
                            <option selected>Select Profession</option>
                            <option value="1">Admin</option>
                            <option value="2">Provider</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                  
                                   class="form-control input"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Business</label>
                        </div>
                    </div> 

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                  
                                   class="form-control input"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Business Contact</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                  
                                   class="form-control input"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Email</label>
                        </div>
                    </div> 
                    
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                  
                                   class="form-control input"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Fax Number</label>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="form-floating">
                            <textarea class="form-control"
                                      placeholder="Leave a comment here"
                                      id="floatingTextarea"
                                      style="height: 200px"></textarea>
                            <label for="floatingTextarea">Prescription or Order details</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-3">
                            <select style="height:55px;" class="form-select " id="refil"  aria-label="Default select example">
                                <option selected>Number of Refills</</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <label for="refil"></label>
                    
                       
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="w-100">
                            <div class=" d-flex justify-content-end">
                                <button class="btn btn-info text-white m-2">Submit</button>
                                <button class="btn btn-outline-info m-2">Cancel</button>
                            </div>
                           
                        </div>
                    </div>
                </div>
               

            </div>
        </div>
    </div>
</div>


<script>


    const phoneInputField = document.querySelector("#phone");
    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>
