@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Empty";
}
<div>
    <div class="d-none d-lg-flex shadow bg-white">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-underline bg-white">
                    <li class="nav-item ">
                        <a class="nav-link text-info active" asp-action="AdminDashboard" asp-controller="admin">Dashboard </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Provider Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Profile" asp-controller="Admin">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Provider
                            </button>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <button class="btn dropdown-item">
                                        <a class="text-decoration-none text-dark" asp-action="Providers" asp-controller="Admin">Providers</a>
                                    </button>
                                </li>
                                <li class="">
                                    <button class="btn dropdown-item">
                                        <a class="text-decoration-none text-dark" asp-action="Scheduling" asp-controller="Admin">Scheduling</a>
                                    </button>
                                </li>
                                <li class="">
                                    <button class="btn dropdown-item">
                                        <a class="text-decoration-none text-dark">Invoicing</a>
                                    </button>
                                </li>

                            </ul>
                        </div>
                        @* <a class="nav-link" asp-action="Providers" asp-controller="Admin">Providers</a> *@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Partners</a>
                    </li>

                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Access
                            </button>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="text-decoration-none text-dark" asp-action="ManageAccess" asp-controller="Admin">
                                        <button class="btn dropdown-item">Account</button>
                                    </a>

                                </li>
                                <li class="">
                                    <a asp-action="UserAccess" asp-controller="Admin" class="text-decoration-none">
                                        <button class="btn dropdown-item">User</button>
                                    </a>

                                </li>


                            </ul>
                        </div>
                        @* <a class="nav-link" asp-action="Providers" asp-controller="Admin">Providers</a> *@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Records</a>
                    </li>

                </ul>

            </div>
        </nav>

    </div>

    <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSidebarLabel"><img style="width:70px;" class="largeLogo align-content-center" src="~/images/logo.png" alt="Logo" /></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body aside-cont">
            <ul class="list-group">
                <li class="list-group-item ">
                    <a class="nav-link fs-5 fw-semibo text-dark ps-4" id="Dashboard-Page" asp-action="AdminDashboard" asp-controller="Admin">Dashboard</a>
                </li>
                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="Location-Page" asp-action="Location" asp-controller="Admin">Provider Location</a>
                </li>
                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="Profile-Page" asp-action="Profile" asp-controller="Admin">My Profile</a>
                </li>
                <li class="list-group-item  ">
                    <div class="dropdown nav-link fs-5 text-dark ps-4">
                        <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Provider
                        </button>
                        <ul class="dropdown-menu">
                            <li class="">
                                <button class="btn dropdown-item">
                                    <a class="text-decoration-none text-dark" asp-action="Providers" asp-controller="Admin">Providers</a>
                                </button>
                            </li>
                            <li class="">
                                <button class="btn dropdown-item">
                                    <a class="text-decoration-none text-dark" asp-action="Scheduling" asp-controller="Admin">Scheduling</a>
                                </button>
                            </li>
                            <li class="">
                                <button class="btn dropdown-item">
                                    <a class="text-decoration-none text-dark">Invoicing</a>
                                </button>
                            </li>

                        </ul>
                    </div>
                    @* <a class="nav-link fs-5 text-dark ps-4" id="Provider-Page" asp-action="Providers" asp-controller="Admin">Providers</a> *@
                </li>
                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="Partner-Page" asp-action="Partners" asp-controller="Admin">Partners</a>
                </li>
                <li class="list-group-item  ">
                    <div class="dropdown nav-link fs-5 text-dark ps-4">
                        <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Access
                        </button>
                        <ul class="dropdown-menu">
                            <li class="">
                                <button class="btn dropdown-item">
                                    <a class="text-decoration-none text-dark" asp-action="ManageAccess" asp-controller="Admin">Account</a>
                                </button>
                            </li>
                            <li class="">
                                <button class="btn dropdown-item">
                                    <a class="text-decoration-none text-dark" asp-action="UserAccess" asp-controller="Admin">User</a>
                                </button>
                            </li>


                        </ul>
                    </div>
                    @* <a class="nav-link fs-5 text-dark ps-4" id="Provider-Page" asp-action="Providers" asp-controller="Admin">Providers</a> *@
                </li>

                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="Records-Page" asp-action="Records" asp-controller="Admin">Records</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="d-flex justify-content-center">
        <div class="mt-3 container">

        
        <div class="d-flex align-items-center">
            <div><h3 class="fw-bold">Scheduling</h3></div>
            <div class="flex-grow-1 text-end">
                    <button class="  back-btn btn-outline-info back mt-2 rounded p-2 "
                            onclick="back()">
                        &lt Back
                    </button>
            </div>
           
        </div>
        <div>
            <div class="d-inline-flex">
                <div class="input-group  rounded ms-lg-4 me-lg-4 m-3 w-auto" style="border:2px solid #dee2e6; border-radius:5px;">

                    <span class="input-group-text inputIcon "><i class="bi bi-search "></i></span>
                    <select  class="form-select h-100 input StateDrop " aria-label="Default select example ">
                        <option value="0" selected>All</option>
                        <option value="1">Admin</option>
                        <option value="2">Physician</option>

                    </select>
                </div>
                <div>
                    <button class="btb btn-info text-white">Provider On Call</button>
                    <button class="btb btn-info text-white">Shift for Review</button>
                    <button class="btb btn-info text-white">Add New Shift</button>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>
