/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* General CSS */
body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

    body::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

header {
    height: 80px;
    margin-bottom: 40px;
}

.underline{
    border: 1px solid black;
}
.dark_mode_btn {
    border: 2px solid #01BCE9;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    color: #01BCE9;
    background-color: #FFFFFF;
}

    .dark_mode_btn:hover {
        background-color: #01BCE9 !important;
        color: #FFFFFF;
    }

.back_btn {
    color: #01BCE9;
    border: 2px solid #01BCE9;
    background-color: transparent;
    text-decoration: none;
    border-radius: 5px;
}

    .back_btn:hover {
        color: #FFFFFF;
        background-color: #00ccff;
    }

.form_button {
    color: #01BCE9;
    border: 2px solid #01BCE9;
    background-color: transparent;
    height: 45px;
    border-radius: 5px;
}

    .form_button:hover {
        color: #FFFFFF;
        background-color: #00ccff !important;
    }

@media (min-width: 600px) {
    #create_new_req_icon {
        display: none;
    }

    #logout_btn_icon {
        display: none;
    }
}

@media (max-width: 600px) {
    #create_new_req_text {
        display: none;
    }

    #logout_btn_text {
        display: none;
    }

    #logout_btn {
        height: 45px;
        width: 45px;
        padding: 0px !important;
    }

    #create_new_req {
        height: 45px;
        width: 45px;
        padding: 0px !important;
    }
}

.admin_btn {
    border: 1px solid #00ccff;
    background-color: #00ccff;
    color: #ffffff;
    border-radius: 5px;
}

    .admin_btn:hover {
        opacity: 0.8;
    }

.toogle_btn {
    position: absolute;
    top: -70px;
    left: 10px;
}

.AdminStatediv {
    position: relative;
    margin: 1.4rem 0;
}

#NewState {
    background-color: #e8eaf1;
    color: #213f99;
    border: 1px solid #213f99;
    border-radius: 10px;
    cursor: pointer;
}

    #NewState.active {
        background-color: #213f99;
        color: #ffffff;
        border: 1px solid #213f99;
        border-radius: 10px;
        cursor: pointer;
    }



#ActiveState {
    background-color: #d0f0c0;
    color: #228b22;
    border: 1px solid #228b22;
    border-radius: 10px;
    cursor: pointer;
}

    #ActiveState.active {
        background-color: #228b22;
        color: #ffffff;
        border: 1px solid #228b22;
        border-radius: 10px;
        cursor: pointer;
    }



#PendingState {
    background-color: #e5f3f8;
    color: #00adef;
    border: 1px solid #00adef;
    border-radius: 10px;
    cursor: pointer;
}

    #PendingState.active {
        background-color: #00adef;
        color: #ffffff;
        border: 1px solid #00adef;
        border-radius: 10px;
        cursor: pointer;
    }




#ConcludeState {
    background-color: #f6e6ef;
    color: #d90f81;
    border: 1px solid #d90f81;
    border-radius: 10px;
    cursor: pointer;
}

    #ConcludeState.active {
        background-color: #d90f81;
        color: #ffffff;
        border: 1px solid #d90f81;
        border-radius: 10px;
        cursor: pointer;
    }



#ToCloseState {
    background-color: #e5eef6;
    color: #0371d7;
    border: 1px solid #0371d7;
    border-radius: 10px;
    cursor: pointer;
}

    #ToCloseState.active {
        background-color: #0371d7;
        color: #ffffff;
        border: 1px solid #0371d7;
        border-radius: 10px;
        cursor: pointer;
    }



#UnpaidState {
    background-color: #f1edf5;
    color: #9966cf;
    border: 1px solid #9966cf;
    border-radius: 10px;
    cursor: pointer;
}

    #UnpaidState.active {
        background-color: #9966cf;
        color: #ffffff;
        border: 1px solid #9966cf;
        border-radius: 10px;
        cursor: pointer;
    }


.AdminState {
    height: 100px;
}

    .AdminState:hover {
        height: 100px;
        opacity: 0.8;
    }

@media (max-width: 980px) {
    .logo_img {
        position: relative;
        left: 80px;
    }

    .AdminState {
        border-radius: 0 !important;
        text-align: center;
    }

    .btntext {
        display: none;
    }
}

@media (min-width: 980px) {


    #NewState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #213f99 transparent;
        transition: 1s;
    }

    #ActiveState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #228b22 transparent;
        transition: 1s;
    }

    #PendingState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #00adef transparent;
        transition: 1s;
    }

    #ConcludeState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #d90f81 transparent;
        transition: 1s;
    }

    #ToCloseState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #0371d7 transparent;
        transition: 1s;
    }

    #UnpaidState.active::after {
        position: absolute;
        content: '';
        left: 40%;
        border-style: solid;
        border-width: 0px 30px 30px 30px;
        transform: rotate(180deg);
        border-color: transparent transparent #9966cf transparent;
        transition: 1s;
    }
}

input#patientsearch {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='20px' height='20px'%3E%3Cpath d='M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px 12px;
    text-indent: 20px;
    height: 45px;
    border-radius: 5px;
    box-shadow: none;
    width: 20rem;
}

    input#patientsearch:focus {
        border-color: #00ccff !important;
    }



select#regionsearch {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='20px' height='20px'%3E%3Cpath d='M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px 12px;
    text-indent: 20px;
    height: 45px;
    box-shadow: none;
    width: 20rem;
}

    select#regionsearch:focus {
        border-color: #00ccff !important;
    }

.table-green{
    background-color:green;
}
.table-orange {
    background-color: orange;
}
.table-pink{
    background-color: pink;
}
.table-blue {
    background-color: #007fc7;
}
.table{
    --bs-table-bg:none;
}