@model HalloDoc.DTO.ConciergeRequest
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_RequestHeader";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<div class="d-flex justify-content-center">
    <div class="mt-2 shadow p-3 mb-5 bg-white rounded">
        <div class="d-flex justify-content-end">
            <button class="back-btn rounded" onclick="back()">&lt Back</button>
        </div>
        <form asp-action="ConciergeRequest">
            <div class="container-fluid">
                <h4>Concierge Information</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   class="form-control"
                                   asp-for="C_Firstname"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Your First Name</label>
                        </div>
                        <span asp-validation-for="C_Firstname" class="text-danger"></span>



                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="C_Lastname"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Your Last Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <input type="tel"
                                   class="form-control"
                                   asp-for="C_Phone"
                                   id="phone"
                                   placeholder="(201) 555-0123"
                                   style="height: 58px" />
                            <label for="phone"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email"
                                   class="form-control"
                                   asp-for="C_Email"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Your Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   class="form-control"
                                   asp-for="C_Location"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Hotel/Property Name</label>
                        </div>
                    </div>
                </div>
                <h4>Concierge Location</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   class="form-control"
                                   asp-for="C_Street"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Street</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="C_City"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">City</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="C_State"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">State</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="C_Zipcode"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Zip Code</label>
                        </div>
                    </div>
                </div>
                <h4>Patient Information</h4>
                <div class="form-floating">
                    <textarea class="form-control"
                              asp-for="P_symp"
                              placeholder="Leave a comment here"
                              id="floatingTextarea"
                              style="height: 100px"
                              rows="5"></textarea>
                    <label for="floatingTextarea">Enter Brief Details Of Symptoms</label>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   class="form-control"
                                   asp-for="P_Firstname"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   class="form-control"
                                   asp-for="P_Lastname"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Last name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="date"
                                   asp-for="P_dob"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Date of Birth</label>
                        </div>
                    </div>
                </div>

                <h4>Patient Contact Information</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email"
                                   asp-for="P_email"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="P_phone"
                                   id="mobile_code"
                                   class="form-control"
                                   placeholder="Phone Number"
                                   name="name" />
                            <label for="floatingInput">Phone Number</label>
                        </div>
                    </div>
                </div>
                <h4>Patient Location</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="P_Location"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Room # / Suite &lpar;Optional&rpar;</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn submit m-2">Submit</button>
                    <a asp-controller="Home" asp-action="Index">
                        <button type="button" class="btn btn-light m-2">Cancle</button>

                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>