@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860


*@
@{
    Layout = "_Layout";

}
<div class="d-flex justify-content-center mt-5 main">
    <div class="mt-5 pt-5">
        <button class="back-btn rounded mb-3" onclick="back()">&lt Back</button>
        <h2 class="text-center">Reset Your Password</h2>
        <br />
        <form asp-action="Forgotpassword">
            <div class="input-group mb-3 border rounded">
                <input type="text"
                       class="form-control"
                       placeholder="Username"
                       aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-person-circle"
                             viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </button>
                </div>
            </div>

            <button type="button"
                    class="btn blue-background text-light btn-lg btn-block w-100">
                Reset Password
            </button>
        </form>
        <br />
        <br />
        <p class="text-center">
            <a class="text-center blue" asp-controller="Home" asp-action="Patientlogin">&lt Back To Login</a>

        </p>
    </div>
</div>