@model HalloDoc.DTO.ResetPassword
@{
    Layout = "_Layout";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />

<div class="d-flex justify-content-center mt-5">
    <form asp-action="ResetPassword">
        <div  class="mt-5 pt-5 ">
            <button class="back-btn rounded mb-3" onclick="back()">&lt Back</button>

            <h2 class="text-center m-2">Reset Your Password</h2>
            <br />
            
            <div class="">
                <div class="form-floating mb-3">
                    <input type="password"
                           class="form-control"
                           id="password"
                           asp-for="Password"
                           placeholder="name@example.com" />
                    <label for="Password">Password</label>
                </div>
            </div>
            <div class="">
                <div class="form-floating mb-3">
                    <input type="password"
                           asp-for="ConfirmPassword"
                           class="form-control"
                           placeholder="name@example.com" />
                    <label for="Password">Confirm Password</label>
                </div>
            </div>
           
            <button type="submit"
                    class="btn blue-background text-light btn-lg btn-block w-100">
                Save Password
            </button>
    </form>
    <br />
    <br />
</div>
</div>